body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa; /* Set default background color */
  color: black; /* Set default text color */
}

body.dark-mode {
  background-color: black; /* Set background color for dark mode */
  color: white; /* Set text color for dark mode */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header-portfolio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-portfolio img {
  margin-right: 1rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
}

button {
  font-size: 16px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}

img {
  height: 50px;
  margin-right: 1rem;
}

section {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}

footer {
  padding: 20px;
  text-align: center;
  margin-top: auto;
  background-color: #f8f9fa; /* Set default background color for the footer */
}

body.dark-mode footer {
  background-color: black; /* Set background color for dark mode footer */
  color: white; /* Set text color for dark mode footer */
}

#dark-mode-button {
  height: 20px;
  cursor: pointer;
}

.social-icons {
  margin-top: 100px; 

}

.social-icons a {
  margin: 0 10px;
  text-decoration: none; /* Remove underlines from anchor tags */
}

.social-icons img {
  width: 30px;
  height: 30px;
  filter: invert(0); /* Default to non-inverted colors */
}

body.dark-mode .social-icons img {
  filter: invert(1); /* Invert the colors in dark mode */
}
