header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-portfolio {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.header-portfolio img {
  margin-right: 1rem;
}

h1 {
  font-size: 40px;
}

button {
  font-size: 16px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}

img {
  height: 50px;
  margin-right: 1rem;
}

section {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}

footer {
  padding: 1rem;
  text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode button {
  border-color: white;
}

#dark-mode-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
